body {
  padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.grade-space {
  padding: 0em 1em 1em 0.3em;
}
.board-status {
  float: left;
  margin: 4px 5px 0 0px;
  font-size: 80%;
  padding: 7px 7px 7px 7px;
  font-family: Monospace, Georgia, Courier;
}
#logout-btn, #setting{
  float: right;
  padding: 10px 0px 0px 0px;
  margin: 2px 0px 0px 20px;
}
.codespace{
   height:350px !important; overflow:scroll;
   margin-bottom: 0px;
}
.chatspace{
   height:310px !important; overflow:scroll;
}
.resultspace{
   height:150px !important; overflow:scroll;
   margin-top:5px;
   font-size: 87%;
   width:100%;
}
.listener-box {
   border-top: 1px #eee solid;
   padding: 3px 0 0 5px;
   margin: 0px 0px 5px -10px;
}
.time-light {
   color: #ddd;
}
.open-board a{
   font-weight: bold;
   /*color: red !important;*/
}


.problem-point {
   font-size: 120%;
   float: right;
   margin-top: -10px;
}
.problem-number {
   padding: 0.5em;
   margin: 0;
   float: left;
   color: #aaa;
}
.problem-description {
   padding: 1em;
   margin:0em;
   font-size: 105%;
}

#alert {
  float: right;
  margin:5px 20px 0 0;
  padding:5px 20px 5px 20px;
  color: #f00;
  font-family: Courier, Georgia;
  font-size: 110%;
  background-color: #fdfdfd;
}
.modal-alert {
  font-family: Courier;
  font-size: 110%;
  color: #f00;
  padding:1em;
}
.brownies {
  padding: 2px 5px 2px 5px;
}
