body {
  padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.codespace{
   height:430px !important; overflow:scroll;
   margin-bottom: 0px;
}
.chatspace{
   height:380px !important; overflow:scroll;
}
.resultspace{
   height:200px !important; overflow:scroll;
   margin-top:5px;
   font-size: 87%;
}
.listener-box {
   border-top: 1px #eee solid;
   padding: 3px 0 0 5px;
   margin: 0px 0px 5px -10px;
}
.time-light {
   color: #ddd;
}
.open-board a{
   font-weight: bold;
   /*color: red !important;*/
}


.problem-point {
   font-size: 120%;
   float: right;
   margin-top: -10px;
}
.problem-number {
   padding: 0.5em;
   margin: 0;
   float: left;
   color: #aaa;
}
.problem-description {
   padding: 1em;
   margin:0em;
   font-size: 105%;
}

.logout-btn{
  display: block;
  float: left;
  padding: 10px 15px 0px;
  margin: 0 0 0 -30px;
}
#alert {
  float: right;
  margin:5px 20px 0 0;
  padding:5px 20px 5px 20px;
  color: #f00;
  font-family: Courier, Georgia;
  font-size: 110%;
  background-color: #fdfdfd;
}
.modal-alert {
  font-family: Courier;
  font-size: 110%;
  color: #f00;
  padding:1em;
}
