{% extends "base.html" %}
{% block content %}


<form method="post" action="" id="problem-form" name="problem-form">

   <label>Points</label>
   <input type="number" name="points" id="points" class="span1 required" {% if mode=='edit': %}value="{{prob.points}}"{% endif %} /><br/>

   <label>Description</label>
   <textarea name="description" id="description" class="span8 required" rows="10">{% if mode=='edit': %}{{prob.description}}{% endif %}</textarea><br />

   <label>Tags</label>
   <select multiple name="tags" id="tags">
      {% for t in tags: %}
      <option value="{{t.id}}" name="tag" class="tag">{{t.name}}</option>
      {% endfor %}
   </select>

   <br/><br/>
   <button type="submit" class="btn" value="submit" />Save</button>
</form>


<script>
$(document).ready(function(){
   $("#problem-form").validate();
});
</script>

{% endblock %}