{% extends "base.html" %}
{% block content %}

<h4>
   {% if tag: %}
      Edit tag {{tag.name}}
   {% else: %}
      Add new tag
   {% endif %}
</h4>

<form method="post" action="" id="tag-form" name="tag-form" class="form-horizontal">

   <div class="control-group">
      <label class="control-label" for="name">Tag name</label>
      <div class="controls">
      <input type="text" id="tags" name="name" class="span4 required" {% if tag: %}value={{tag.name}}{% endif %}>
      </div>
   </div>

   {% if tag: %}
   <div class="control-group">
         <label class="control-label ">Delete</label>
         <div class="controls">
            <input type="checkbox" name="delete" id="delete">
         </div>
   </div>
   {% endif %}

   <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
      <button type="submit" class="btn" value="submit" />Save</button>
      </div>
   </div>
</form>


<script>
$(document).ready(function(){
   $("#problem-form").validate();
});
</script>

{% endblock %}