{% extends "base.html" %}
{% block content %}

<ul class="nav nav-pills">
   <li class="active"><a href="#">Update problem #{{p.id}}</a></li>
   <li><a href="{{url_for('problem_page.index')}}">Problem Index</a></li>
</ul>


<form method="post" action="" id="problem-form" name="problem-form">

   <label>Points</label>
   <input type="number" name="points" id="points" class="span1 required" value="{{p.points}}" /><br/>

   <label>Description</label>
   <textarea name="description" id="description" class="span8 required" rows="10">{{p.description}}</textarea><br />

   <label>Tags</label>
   <select multiple name="tags" id="tags">
      {% for t in all_tags: %}
      <option value="{{t.id}}" name="tag" class="tag" value="{{ t.id }}" {% if t in tags: %}selected{% endif %}>
         {{t.name}}
      </option>
      {% endfor %}
   </select>


   <br/><br/>
   <button type="submit" class="btn" value="submit" />Save</button>
</form>


<script>
$(document).ready(function(){
   $("#problem-form").validate();
});
</script>

{% endblock %}