{% extends "base.html" %}
{% block content %}
<br/><br/><br/>
<p class="problem">
   <div class="problem-point text-success">
      {{prob.points}} points
   </div>
   <div class="problem-description">{{prob.description}}</div>
</p>

<p>
   <h5>Points on this problem for {{user.username}}</h5>
   <form class="form-inline" method="post" action="" id="grade-form">
      <input type="number" name="score" id="score" class="required" value={{score}} />
      <button type="submit" class="btn"/>Save</button>
   </form>
</p>

<script>
$(document).ready(function(){
   $("#grade-form").validate();
});
</script>

{% endblock %}