{% extends "base.html" %}
{% block content %}

<ul class="breadcrumb">
  <li><a href="{{url_for('admin')}}">Admin</a> <span class="divider">/</span></li>
  <li class="active">Problem index</li>
</ul>

<h4>Knowledge Taxonomy</h4>
<p>
   <a href="{{url_for('problem.edit_tag')}}"><i class="icon-plus-sign"></i></a> &nbsp;

   {% for t in tags: %}
      <a href="{{url_for('problem.edit_tag', tid=t.id)}}">{{t.name}}</a> &nbsp;
   {% endfor %}
</p>
<br/>

<h4>Problems</h4>

<a href="{{url_for('problem.create')}}"><i class="icon-plus-sign"></i></a>

<table class="table">
   <thead><th>pid</th><th>Created</th><th>Knowledge Taxonomy</th><th>Status</th></thead>

   {% for p in probs: %}
      <tr>
         <td>{{p.id}}</td>
         <td>
            <a href="{{ url_for('problem.edit', pid=p.id) }}">{{p.created.strftime('%m-%d-%Y')}}</a>
         </td>
         <td>
            {% for t in p.problemtags: %}
               <span class="label">{{ t.tag.name }}</span>
            {% endfor %}
         </td>
         <td>
         {% if stats[p.id]: %}
            <a href="{{ url_for('problem.publish_toggle',pid=p.id) }}"><i class="icon-flag"></i></a>
         {% else: %}
            <a href="{{ url_for('problem.publish_toggle',pid=p.id) }}"><i class="icon-minus-sign"></i></a>
         {% endif %}
         </td>
      </tr>
   {% endfor %}
</table>

{% endblock %}