{% extends "base.html" %}
{% block content %}

<h4>Knowledge Taxonomy</h4>
<p>
   <a href="{{url_for('problem_page.edit_tag')}}"><i class="icon-plus-sign"></i></a> &nbsp;

   {% for t in tags: %}
      <a href="{{url_for('problem_page.edit_tag', tid=t.id)}}">{{t.name}}</a> &nbsp;
   {% endfor %}
</p>
<br/>

<h4>Problems</h4>

<a href="{{url_for('problem_page.create')}}"><i class="icon-plus-sign"></i></a>

<table class="table">
   <thead><th>pid</th><th>Created</th><th>Knowledge Taxonomy</th><th>Status</th></thead>

   {% for pid,v in sorted(items.items(), reverse=True): %}
      <tr>
         <td>{{pid}}</td>
         <td>
            <a href="{{ url_for('problem_page.edit', pid=pid) }}">{{v[0].problem.created.strftime('%m-%d-%Y')}}</a>
         </td>
         <td>
            {% for p in v %}
               <span class="label">{{ p.tag.name }}</span>
            {% endfor %}
         </td>
         <td>
         {% if stats[pid]: %}
            <a href="{{ url_for('problem_page.publish_toggle',pid=pid) }}"><i class="icon-check"></i></a>
         {% else: %}
            <a href="{{ url_for('problem_page.publish_toggle',pid=pid) }}"><i class="icon-minus-sign"></i></a>
         {% endif %}
         </td>
      </tr>
   {% endfor %}
</table>

{% endblock %}