
textarea#code {
	font-size:110%;
	border: 1px solid #300;
	width: 99%;
	height: 450px;
	overflow: scroll;
	white-space: nowrap;
	clear: both;
}

#codearea {
	padding: 0 1% 0 1%;
	width: 56%;
	height: 550px;
	float: left;
	clear: both;
}
#resultarea {
	font-family: monospace;
	width: 37%;
	min-height: 400px;
	border-left: 3px solid #eee;
	float: left;
	padding-left: 2%;
}

#instruction {
	float: left;
	border-left: 3px solid #caa;
	min-height: 100px;
	padding: 5px 0 0 20px;
	margin: 0 0 0 50px;
}