<!doctype html>
<html lang="en">
<head>
<title>Sandbox</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">

<script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.validate.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

<script type="text/javascript">
	$SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
</script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sandbox.css') }}">
</head>
<body>
<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
      <div class="container">
         <a class="brand" href="#">SANDBOXES</a>

         <a class="logout-btn" href="{{url_for('user_page.logout')}}" title="Log out" id="logout"><i class="icon-off"></i></a>
     </div>
   </div>
 </div>

{% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="span4 pull-right alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% for message in messages %}
         {{ message }}<br/>
      {% endfor %}
   </div>
   {% endif %}
{% endwith %}

<div class="container">
   {% block content %}{% endblock %}
</div>

</body>
</html>
