{% extends "base.html" %}
{% block content %}

<input type="hidden" id="cid" value="{{user_record.id}}" />
<input type="hidden" id="I_can_view_all" value="{{user_record.view_all_boards}}" />

<div class="tabbable tabs-right">
  <ul class="nav nav-tabs">
    {% for u in all_users: %}
    <li class="menu{{u.id}} {% if u.id==user_record.id: %}active{% endif %}">
      <a href="#tab{{u.id}}" data-toggle="tab">
        {% if user_record.id==u.id: %}me{% else: %}{{u.username}}{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for u in all_users: %}
      <div class="tab-pane {% if u.id==user_record.id: %}active{% endif %}" id="tab{{u.id}}">
        <div>
          {% if user_record.id == u.id: %}
              <a href="#" id="show-my-board{{u.id}}">
              {% if user_record.open_board: %}<i class="icon-eye-open"></i>{% else: %}<i class="icon-eye-close"></i>{% endif %}
              </a>
          {% endif %}
          {{u.username}}'s whiteboard
        </div>

        <div class="row-fluid">
          <!-- CODE  -->
          <div class="span8">
            {% if u.id==user_record.id: %}
              <textarea id="code{{u.id}}" name="code{{u.id}}" class="span12" rows="35"></textarea>
            {% else: %}
              <pre id="code{{u.id}}" class="codespace"></pre>
            {% endif %}
          </div>

          <!-- CHAT -->
          <div class="span4">
            <input class="chat-input span12 input-tiny" type="text" placeholder="chat..." />
            <div id="chat-output{{u.id}}" class="chatspace"></div>
          </div>
        </div>

        <!-- RESULT -->
        <div class="row">
          <div class="span10">
            <pre id="result{{u.id}}" class="resultspace"></pre>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>




<script src="{{ url_for('static', filename='codemirror/codemirror.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/codemirror.css') }}">
<script src="{{ url_for('static', filename='codemirror/python.js') }}"></script>

<script type="text/javascript">
  // $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  var cid = $('#cid').val();
  var code_cid = "code" + cid;
  var editor = CodeMirror.fromTextArea(document.getElementById("code" + cid), {
    mode: {name: "python", version: 2, singleLineStringErrors: false},
    lineNumbers: true,
    indentUnit: 3,
    tabMode: "shift",
    // matchBrackets: true,
    onKeyEvent : function( ed, ev ) {
      if (ev.keyCode == 13){
        if ( ev.shiftKey && ev.type == 'keyup' ) {
          $.post('/sse_send', { message: editor.getValue(), event:'run-code', cid: cid });
          $('#result').html('running...');
        }
        else if (ev.type == 'keyup') {
          $.post('/sse_send', { message: editor.getValue(), event:'send-code', cid: cid });
        }
        ev.preventDefault();
      }
    }
  });

  $(document).ready(function(){
    // setting up for all channels
    {% for u in all_users: %}
      $('#show-my-board{{u.id}}').click(function(e){
        $.post("/sse_send", {message:{{u.id}}, event:'toggle-board', cid:{{u.id}} });
      });
      $('.menu{{u.id}}').hide();
      $('.menu{{u.id}}').click(function(e){
        $.post('/sse_send', { message: {{u.id}}, event:'join', cid:cid });
      });
    {% endfor %}

    // turning on active users
    {% for uid, user in all_records.items(): %}
      {% if uid==user_record.id or user.open_board or all_records[user_record.id].view_all_boards: %}
        $('.menu{{uid}}').show();
      {% endif %}
      {% if user.open_board: %}
        $('.menu{{uid}}').addClass('open-board');
      {% endif %}
    {% endfor %}

    // sending chat messages
    $('.chat-input').keyup(function(e){
      if (e.keyCode == 13) {
        $.post('/sse_send', { message: $(this).val(), event:'chat', cid:cid });
        $(this).val('');
      }
    });

    // streaming messages from server
    var es = new EventSource('/sse_receive/' + cid);

    es.addEventListener("run-code", function(event) {
      var data = $.parseJSON(event.data);
      if (data.code != undefined) {
        $('#code' + data.cid).html(data.code);
      }
      $('#result' + data.cid).html(data.output);
    }, false);

    es.addEventListener("send-code", function(event) {
      var data = $.parseJSON(event.data);
      $('#code' + data.cid).html(data.code);
    }, false);

    es.addEventListener("chat", function(event) {
      var data = $.parseJSON(event.data);
      var m = '<i class="icon-hand-right"></i> <strong>'+data.username+'</strong>: ' + data.chat + '<br/>';
      $('#chat-output' + data.cid).append( m );
    }, false);

    es.addEventListener("first-join", function(event) {
      var data = $.parseJSON(event.data);
      $('.menu' + data.cid).show();
      if (data.board_status == true){
        $('.menu' + data.cid).addClass('open-board');
      }
    }, false);

    es.addEventListener("join", function(event) {
      var data = $.parseJSON(event.data);

      if (data.board_status == true){
        $('#show-my-board' + data.which).html('<i class="icon-eye-open"></i>');
      }
      else {
        $('#show-my-board' + data.which).html('<i class="icon-eye-close"></i>');
      }
    }, false);

    es.addEventListener("toggle-board", function(event) {
      var data = $.parseJSON(event.data);
      var the_cid = data.cid;

      if (data.board_status == true){
        /* open up board to everyone */
        $('.menu' + the_cid).addClass('open-board');
        $('.menu' + the_cid).show();
        if (the_cid == cid) {
          $('#show-my-board' + the_cid).html('<i class="icon-eye-open"></i>');
        }
      }
      else {
        /* close board */
        $('.menu' + the_cid).removeClass('open-board');
        if (the_cid == cid) {
          $('#show-my-board' + the_cid).html('<i class="icon-eye-close"></i>');
        }
        if (data.hide_board == true) {
          $('.menu' + the_cid).hide();

          if (data.back_to_homeboard == true) { /* only affect those currently listening */
            $('.menu' + the_cid).removeClass('active');
            $('#tab' + the_cid).removeClass('active');
            $('.menu' + cid).addClass('active');
            $('#tab' + cid).addClass('active');
          }
        }
      }
    }, false);

    // turning on editor for the current user
    editor.focus();
  });
</script>

{% endblock %}