{% extends "layout.html" %}
{% block content %}
<script src="{{ url_for('static', filename='codemirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='codemirror/matchbrackets.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='codemirror/codemirror.css') }}">
<script src="{{ url_for('static', filename='codemirror/python.js') }}"></script>

<h1>Whiteboard for user {{user.username}}</h1>
<div id="codearea">
  <textarea id="code" name="code"></textarea>
</div>

<div id="resultarea">
  <h2>Output</h2>
  <div id="result">?</div>
</div>

<script type="text/javascript">
  var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
    mode: {name: "python", version: 2, singleLineStringErrors: false},
    lineNumbers: true,
    indentUnit: 3,
    tabMode: "shift",
    matchBrackets: true,
    {% if user.id != this_user.id: %}
      readOnly: true,
    {% else: %}
    onKeyEvent : function( ed, ev ) {
      if (ev.keyCode == 13){
        if ( ev.shiftKey && ev.type == 'keyup' ) {
          $.post('/run_code/{{user.id}}', {'code': editor.getValue()});
          $(this).val('');
          ev.preventDefault();
        }
        $.post('/send_code/{{user.id}}', {'code': editor.getValue()});
      }
    }
    {% endif %}
  });
  $(function() {
    editor.focus();
    var result = new EventSource('/stream/out/{{user.id}}');
    result.onmessage = function(e) { $('#result').html(e.data); };

    {% if user.id != this_user.id: %}
      var codes = new EventSource('/stream/in/{{user.id}}');
      codes.onmessage = function(e) { editor.setValue(e.data); };
    {% endif %}

    return false;
  });


</script>
{% endblock %}