{% extends "base.html" %}
{% block content %}

<h1>Problem set {{ ps.id }}</h1>
Created on {{ ps.created }}

{% if editable: %}
   <a href="{{url_for('problem_set.edit', pid=ps.id)}}">
      <div class="pull-right"><i class="icon-edit"></i></div>
   </a>
{% endif %}

{% for p in problems: %}
   {% if p.viewable: %}
   <p class="problem">
      <div class="problem-number">#{{loop.index}}</div>
      <div class="problem-point text-success">{{p.points}} points</div>
      <div class="problem-description">{{p.description}}</div>
   </p>
   {% endif %}
{% endfor %}



{% endblock %}