{% extends "base.html" %}
{% block content %}
<ul class="breadcrumb">
  <li><a href="{{url_for('admin')}}">Admin</a> <span class="divider">/</span></li>
  <li class="active">User index</li>
</ul>

{% for u in users: %}
   {% if u.active: %}<i class="icon-thumbs-up"></i>{% else: %}<i class="icon-thumbs-down"></i>{% endif %}
   <a href="{{url_for('user.edit', uid=u.id)}}">{{ u.username }}</a>
   <br />
{% endfor %}

<h4>Create a new user</h4>
<form class="form-inline" method="post" action="" id="new-user-form">
    <input type="text" name="username" placeholder="username" class="required" />
    <button type="submit" class="btn"/>Create</button>
</form>

<script>
$(document).ready(function(){
   $("#new-user-form").validate();
});
</script>
{% endblock %}